name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: AmandaVoigt
          template: classic
          base: header, activity, community
          config_timezone: America/Sao_Paulo

          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 5

          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact

          plugin_activity: yes
          plugin_activity_limit: 5
